<h1>Hello World</h1>

<div>
  <a routerLink="/">Home</a>
</div>

<div>
  <a routerLink="can-deactivate">Can Deactivate Test Page</a> |
  <a routerLink="can-activate">Can Activate Test Page</a> |
  <a routerLink="can-load">Can Load Test Page</a> |
  <a routerLink="can-match">Can Match Test Page</a>
</div>

<div>
  <a routerLink="http">Http Page</a> |
  <a routerLink="dashboard">Dashboard Page</a> |
  <a routerLink="shop">Shop Page</a> | 
  <a routerLink="example">Example Page</a>
</div>

<hr>

<div
  class="switch-container"
  *ngIf="{ value: flagsService.canActivate$ | async } as active"
  (click)="flagsService.toggleCanActivate()"
>
  <div class="label">
    Can Activate Guard: <span [class.active]="active.value">{{ active.value ? 'TRUE' : 'FALSE' }}</span>
  </div>
  <label class="switch">
    <input type="checkbox" [checked]="active.value" />
    <span class="slider round"></span>
  </label>
</div>

<div
  class="switch-container"
  *ngIf="{ value: flagsService.canLoad$ | async } as active"
  (click)="flagsService.toggleCanLoad()"
>
  <div class="label">
    Can Load Guard: <span [class.active]="active.value">{{ active.value ? 'TRUE' : 'FALSE' }}</span>
  </div>
  <label class="switch">
    <input type="checkbox" [checked]="active.value" />
    <span class="slider round"></span>
  </label>
</div>

<div
  class="switch-container"
  *ngIf="{ value: flagsService.canMatch$ | async } as active"
  (click)="flagsService.toggleCanMatch()"
>
  <div class="label">
    Can Match Guard: <span [class.active]="active.value">{{ active.value ? 'TRUE' : 'FALSE' }}</span>
  </div>
  <label class="switch">
    <input type="checkbox" [checked]="active.value" />
    <span class="slider round"></span>
  </label>
</div>

<!-- 
<div>
  <p>
    canActivate: {{ flagsService.canActivate$ | async }}
    <button (click)="flagsService.setCanActivate(true)">True</button> |
    <button (click)="flagsService.setCanActivate(false)">False</button>
  </p>
  <p>
    canLoad: {{ flagsService.canLoad$ | async }}
    <button (click)="flagsService.setCanLoad(true)">True</button> |
    <button (click)="flagsService.setCanLoad(false)">False</button>
  </p>
  <p>
    canMatch: {{ flagsService.canMatch$ | async }}
    <button (click)="flagsService.setCanMatch(true)">True</button> |
    <button (click)="flagsService.setCanMatch(false)">False</button>
  </p>
</div> -->

<div class="container">
  <router-outlet></router-outlet>
  <p></p>
  <div></div>
</div>

<img class="background" src="assets/background.jpg" />

<div class="spacer"></div>
